@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <div class="col-4"></div>
        <div class="col">
            <a href="/Buildings" class="col">Buildings</a>
            <a href="/Buildings" class="col">Buildings</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
